<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ^^^ Magic incantation required by Bootstrap --> 
    {% if title %}
    <title>{{ title }} - POTS</title>
    {% else %}
    <title>POTS</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Dashboard Theme CSS -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <!-- Pull in jQuery so Bootstrap is happy -->
    <script src="/static/jquery.min.js"></script>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">POTS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- All users get a home button -->
            <li><a href="/">Home</a></li>

            {# BEGIN Conditional navbar buttons #} 
            {# END   Conditional navbar buttons #} 
        </div> <!-- id="navbar" -->
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      <p>{{ msg }}</p>
    {% endfor %}
    {% endwith %}
    {% block content %}
    {% endblock %}

    <!-- Pull in Bootstrap last -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
