{% extends "base.html" %}

{% block content %}
<h1 class="page-header">Client Details - {{ client.username }}</h1>
  <div class="row">
    <div class="col-sm-2">Username</div>
    <div class="col-sm-2">{{ client.username }}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Salesman</div>
    <div class="col-sm-2">{{ client.salesperson_id }}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <a class="btn btn-primary" href="/client/edit/{{ client.id }}/">Edit</a>
    </div>
  </div>

{% endblock %}