{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<h1 class="page-header">Edit Employee</h1>
<form class="form-horizontal" action="{{ request.url }}" method="post" name="edit_employee">
  {{ form.hidden_tag() }}
  {{ forms.disabled_text_field(form.username)}}
  {{ forms.select_field(form.managed_by)}}
  {{ forms.select_field(form.active)}}
  {{ forms.text_field(form.commission)}}
  {{ forms.text_field(form.max_discount)}}
  {{ forms.select_field(form.title)}}
  {{ forms.submit_button("Submit")}}
</form>
{% endblock %}