{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<h1 class="page-header">Current Employees</h1>
<table class="table">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Title</th>
      <th>Manager</th>
      <th>Commission</th>
      <th>Max Discount</th>
    </tr>
  </thead>
  <tbody>
{% for employee in employees %}
    {% if employee.active %}
      <tr>
	<td>{{ employee.username }}</td>
	<td>{{ employee.title }}</td>
	<td>{{ employee.manager.username}}</td>
	<td>{{ employee.commission}}</td>
	<td>{{ employee.max_discount}}</td>
	<td><a class="btn btn-primary" href="/employee/{{ employee.employee_id }}/">View</a></td>
      </tr>
    {% endif %}
{% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="/employee/add/">Add Employee</a>
{% endblock %}
