{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<h1 class="page-header">Edit Employee</h1>
<form class="form-horizontal"  method="post" name="manager_edit_employee">
  {{ form.hidden_tag() }}
  {{ forms.disabled_text_field(form.username)}}
  {{ forms.text_field(form.commission)}}
  {{ forms.disabled_text_field(form.max_discount)}}
  {{ forms.disabled_text_field(form.title)}}
  {{ forms.submit_button("Update")}}
  <td><a class="btn btn-primary" href="/employee/fire/{{employee.employee_id }}/">Fire Salesperson</a></td>
</form>
{% endblock %}