{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<h1 class="page-header">Buy {{ form.name.data }}</h1>
<form class="form-horizontal" action="{{ request.url }}" method="post" name="reorder_product">
  {{ form.hidden_tag() }}
  {% if form.errors %}
    {% for fieldname, errors in form.errors|dictsort %}
      {% for error in errors %}
      <p>{{ form[fieldname].label }} : {{ error }}</p>
      {% endfor %}
    {% endfor %}
  {% endif %}
  {{ forms.disabled_text_field(form.manufacturer) }}
  {{ forms.disabled_text_field(form.name) }}
  {{ forms.disabled_price_field(form.price) }}
  {{ forms.populated_text_field(form.quantity, product.quantity) }}
  {{ forms.submit_button("Update") }}
</form>
{% endblock %}
