{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<h1 class="page-header">Create Account</h1>
<form class="form-horizontal" action="" method="post" name="signup">
  {{ form.hidden_tag() }}
  {% if form.errors %}
    {% for fieldname, errors in form.errors|dictsort %}
      {% for error in errors %}
      <p>{{ form[fieldname].label }} : {{ error }}</p>  
      {% endfor %} 
    {% endfor %}
  {% endif %}
  {{ forms.text_field(form.username.id, form.username.label) }}
  {{ forms.password_field(form.password1.id, form.password1.label) }}
  {{ forms.password_field(form.password2.id, form.password2.label) }}
  {{ forms.submit_button("Create Account") }}
</form>
{% endblock %}
