{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<h1 class="page-header">Current Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Active</th>
      <th>Is Employee?</th>
    </tr>
  </thead>
  <tbody>
{% for user in users %}
{% if user.active %}
    <tr>
      <td>{{ user.username }}</td>ml
      <td>{{ user.active }}</td>
      <td>{{ user.is_employee }}</td>
      <td><a class="btn btn-primary" href="/users/{{ user.username }}/">Edit</a></td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>
{% endblock %}